body{
    margin: 0;
    overflow: hidden;
    background: black;
}
canvas{
    display: block;
    margin: auto;
}
#restartBtn {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#restartBtn:hover {
    background-color: #cc0000;
}
